[tool.poetry]
name = "deepeval"
version = "1.3.3"
description = "The Evaluation Framework for LLMs"
authors = ["Jeffrey Ip <jeffreyip@confident-ai.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/confident-ai/deepeval"
documentation = "https://docs.confident-ai.com"

[tool.poetry.scripts]
deepeval = 'deepeval.cli.main:app'

[tool.poetry.plugins."pytest11"]
plugins = "deepeval.plugins.plugin"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
requests = "^2.31.0"
tqdm = "^4.66.1"
pytest = "^7.4.3"
pytest-xdist = "*"
pytest-repeat = "*"
pytest-rerunfailures = "^12.0"
pytest-asyncio = "^0.21.1"
tabulate = "^0.9.0"
sentry-sdk = "^1.33.1"
rich = "^13.6.0"
ragas = "*"
coverage = "*"
black = "*"
portalocker = "*"
openai = "*"
langchain = "*"
langchain-core = "*"
langchain_openai = "*"
protobuf = "*"
typer = "*"
setuptools = "*"
wheel = "*"
aiohttp = "*"
llama-index = "*"
llama-index-llms-langchain = "*"
docx2txt = "^0.8"
importlib-metadata = ">=6.0.2"
tenacity = "^8.4.1"
opentelemetry-api = "^1.24.0"  
opentelemetry-sdk = "^1.24.0" 
opentelemetry-exporter-otlp-proto-grpc = "^1.24.0" 
grpcio = "^1.63.0"
instructor = "*"
twine="5.1.1"

[tool.black]
line-length = 80

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "-m 'not skip_test'"
markers = [
    "skip_test: skip the test",
]
