[tool.poetry]
name = "deepeval"
version = "0.21.22"
description = "The Evaluation Framework for LLMs"
authors = ["Jeffrey Ip <jeffreyip@confident-ai.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/confident-ai/deepeval"
documentation = "https://docs.confident-ai.com"

[tool.poetry.scripts]
deepeval = 'deepeval.cli.main:app'

[tool.poetry.plugins."pytest11"]
plugins = "deepeval.plugins.plugin"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
requests = "^2.31.0"
tqdm = "^4.66.1"
pytest = "^7.4.3"
pytest-xdist = "*"
pytest-repeat = "*"
pytest-rerunfailures = "^12.0"
pytest-asyncio = "^0.21.1"
tabulate = "^0.9.0"
sentry-sdk = "^1.33.1"
rich = "^13.6.0"
ragas = "*"
coverage = "*"
black = "*"
portalocker = "*"
openai = "*"
langchain = "*"
langchain-core = "*"
langchain_openai = "*"
protobuf = "*"
typer = "*"
setuptools = "*"
wheel = "*"
aiohttp = "*"
llama-index = "*"
docx2txt = "^0.8"
importlib-metadata = "^7.0.2"

[tool.black]
line-length = 80

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
