.title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description {
  color: #6b7280;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 1.5rem;
}

.card {
  display: block;
  border: 1px solid #e2e6ef;
  border-radius: 0.5rem;
  padding: 1.25rem;
  text-decoration: none !important;
  color: inherit;
  position: relative;
  box-shadow: 0 0 5px 0 #eae2ef;
  transition: box-shadow 0.2s ease;
}

.tabIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #6b7280;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.card:hover .tabIcon {
  opacity: 1;
}

.card:hover {
  box-shadow: 0 0 0px 0 #eae2ef;

  .icon { 
    color: #6f1bd5;
  }
}

.cardContent {
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.icon {
  color: #091E42;
  flex-shrink: 0;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #111827;
  transition: color 0.2s ease;
  margin-bottom: 0;
}

.description {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.4;
  transition: color 0.2s ease;
}

.listDescription {
  list-style-type: disc;
  padding-left: 1rem;
  color: #4b5563;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.4;
}