.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 1.5rem;
}

.card {
  display: block;
  border: 1px solid var(--border-subtle);
  border-radius: 0.5rem;
  padding: 1.25rem;
  text-decoration: none !important;
  color: inherit;
  position: relative;

  .content {
    display: flex;
    flex-direction: column;
  }

  .titleRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .icon {
    color: var(--text-primary);
    flex-shrink: 0;
    transition: color 0.2s ease;
  }

  .title {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--ifm-heading-color);
    transition: color 0.2s ease;
    margin-bottom: 0;
  }

  .description {
    font-size: 14px;
    color: var(--text-secondary);
    line-height: 1.4;
    transition: color 0.2s ease;
  }

  .listDescription {
    list-style-type: disc;
    padding-left: 1rem;
    color: var(--text-secondary);
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.4;
  }

  .tabIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--text-secondary);
    opacity: 0.6;
    transition: opacity 0.2s ease;
  }

  &:hover {
    .icon {
      color: var(--brand);
    }

    .tabIcon {
      opacity: 1;
    }
  }
}
