.shell {
  --home-header-height: 56px;
  --fd-sidebar-width: 268px;
  --fd-sidebar-col: var(--fd-sidebar-width);
  --fd-toc-width: 268px;
  width: 100%;
  min-width: 0;
  flex: 1 0 auto;
  min-height: 100dvh;
  background-color: var(--color-fd-background);
}

.main {
  width: 100%;
  min-width: 0;
  min-height: calc(100dvh - var(--home-header-height));
}
