.timeline {
  position: relative;
  margin-top: 3rem;
  counter-reset: step;
  margin-bottom: 3rem;
}

.timelineItem {
  margin-bottom: 0;
  display: flex;
  align-items: stretch;
  counter-increment: step;
}

.timelineStep {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 3rem;
  flex-shrink: 0;
  position: relative;
  align-self: stretch;
}

.timelineNumber {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #d5dce4;
  color: rgb(49, 53, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  z-index: 2;
  background: white;
}

.timelineNumber::before {
  content: counter(step);
}

.timelineLine {
  width: 1px;
  flex-grow: 1;
  min-height: 2rem;
  background: #d5dce4;
  z-index: 1;
  margin-left: 0.75rem;
}

.timelineItem:last-child .timelineLine {
  height: calc(100% - 5rem);
}

.timelineContent {
  flex-grow: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  min-width: 0;
  padding-bottom: 2rem;
}

.timelineItem:last-child .timelineContent {
  padding-bottom: 0;
}

.timelineTitle {
  font-size: 18px;
}