.homeNav {
  display: flex;
  width: 100%;
}

.canHide {
  display: flex;
}

.ctaContainer {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}

.confidentLink {
  color: #9ca3af;
  font-size: 18px;
  font-style: italic;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.newTabIcon {
  width: 16px;
  height: 16px;
  transform: skewX(-15deg);
}

.mainRapper {
  width: 100%;
  height: 100%;
  background-color: #13171e;
}

.letterContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.rapper {
  padding: 3rem 10rem 0rem 10rem;
  width: 90rem;
  flex-grow: 1;
  margin: auto;
}

@keyframes oscillateHeight {
  0%,
  100% {
    height: 160px;
  }
  50% {
    height: 180px;
  }
}

@media (max-width: 1435px) {
  .rapper {
    padding: 2rem 5rem; /* adjust padding as needed */
    width: 100%; /* adjust width as needed */
    /* margin: 0!important; */
  }

  .letterImage {
    position: absolute;
    left: 40% !important;
  }
}

@media (max-width: 1018px) {
  .ctaContainer {
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .featuresContainer {
    display: flex;
    flex-direction: column;
  }

  .featuresContainer > .featureCard {
    margin: 0px 0px 10px 0px !important;
  }

  .mainMainContainer {
    padding-top: 8rem !important;
  }
}

@media (max-width: 920px) {
  .mainContainer {
    /* background-color: blue; */
    flex-direction: column;
  }

  .mainLeftContainer {
    width: 90% !important;
  }

  .mainLeftContainer img {
    margin: auto;
  }

  .mainLeftContainer h1 {
    margin-bottom: 40px !important;
    text-align: center;
  }

  .letterContainer {
    margin-top: 6rem;
  }

  .letterImage {
    left: 0 !important;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featuresContainer {
    margin-top: 4rem !important;
  }

  .rapper {
    padding: 1rem 2rem 1rem 2rem;
  }

  .homeNav div {
    margin-right: 30px !important;
    font-size: 18px !important;
  }

  .canHide {
    display: none;
  }

  .letterImage .animatedMail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }
  .letterImage .animatedMail .topFold {
    transition:
      transform 0.4s,
      z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition:
      transform 0.4s,
      z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition:
      transform 0.4s,
      z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .letterImage .animatedMail .letter {
    height: 160px;
    animation: oscillateHeight 2s infinite ease-in-out;
  }
  .letterImage .shadow {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .confidentLink {
    font-size: 16px;
  }

  .contentContainer .button {
    width: 100%;
    padding: 12px 30px !important;
    text-align: center;
  }

  .mainMainContainer {
    padding-top: 5rem !important;
  }

  .mainLeftContainer h1 {
    font-size: 22px !important;
  }

  .homeNav div {
    margin-right: 30px !important;
    font-size: 14px !important;
  }

  .featureCard .title {
    font-size: 16px !important;
  }

  .featureCard .description {
    font-size: 14px !important;
  }

  .featuresContainer {
    margin-bottom: 2rem !important;
  }

  .shadow {
    width: 150% !important;
  }

  .letterImage:hover .shadow {
    width: 100% !important;
  }
}

.homeNav div {
  margin-right: 50px;
  font-size: 20px;
}

.homeNav div a {
  color: #9ca3af;
}

.mainMainContainer {
  padding: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.featuresContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 13rem;
  margin-bottom: 5rem;
}

.featuresContainer > .featureCard:not(:last-child) {
  margin-right: 24px; /* Adjust the value as per your requirement */
}

.featuresContainer > .featureCard:not(:first-child) {
  margin-left: 24px; /* Adjust the value as per your requirement */
}

.featureCardContainer {
  display: flex;
  align-items: center;
}

.featureCardContainer img {
  width: 20px;
  margin-left: 10px;
  margin-bottom: -4px;
}

.featureCard {
  width: 100%;
}

.featureCard .title {
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-style: italic;
}

.featureCard .description {
  font-size: 18px;
  color: #9ca3af;
  margin-top: 4px;
}

.featureCard:hover {
  text-decoration: none;
}

.mainContainer {
  display: flex;
  align-items: center;
}

.mainContainerLeft {
  width: 50%;
}

.contentContainer > h1 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 4rem;
  color: #f3f4f6;
}

.contentContainer .button {
  font-size: 20px;
  padding: 20px 40px;
  background-color: #6d28d9;
  outline: none;
  border: 5px solid black;
  border-radius: 34px;
  font-weight: 600;
  color: white;
  box-shadow: 0 0 18px #6d28d9;
}

.contentContainer .button:hover {
  text-decoration: none;
}

.contentContainer > button:hover {
  cursor: pointer;
}

.mainLeftContainer > img {
  width: 14rem;
}

.mainLeftContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.letterContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.letterImage {
  position: absolute;
  top: -15%;
  left: 100%;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.animatedMail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}

.animatedMail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #f3f4f6 transparent;
  z-index: 2;
}
.animatedMail .topFold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition:
    transform 0.4s 0.4s,
    z-index 0.2s 0.4s;
  -moz-transform-origin: 50% 0%;
  -moz-transition:
    transform 0.4s 0.4s,
    z-index 0.2s 0.4s;
  transform-origin: 50% 0%;
  transition:
    transform 0.4s 0.4s,
    z-index 0.2s 0.4s;
  border-color: #d1d5db transparent transparent transparent;
  z-index: 2;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}
.animatedMail .backFold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #7c3aed;
  z-index: 0;
}
.animatedMail .leftFold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #e5e7eb;
  z-index: 2;
}
.animatedMail .letter {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s 0.2s;
  -moz-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
  animation: oscillateHeight 2s infinite ease-in-out;
}
.animatedMail .letter .letterBorder {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #7c3aed,
    #6e49dc 8px,
    transparent 8px,
    transparent 18px
  );
}
.animatedMail .letter .letterTitle {
  margin-top: 7px;
  margin-left: 7px;
  color: black;
  font-size: 10px;
  font-weight: 600;
}
.animatedMail .letter .letterContext {
  margin-top: 6px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animatedMail .letter .letterContext img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.animatedMail .letter .letterContext span {
  color: black;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
}

.animatedMail .letter .letterStamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #000000;
}
.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.letterImage .animatedMail {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
}
.letterImage .animatedMail .topFold {
  transition:
    transform 0.4s,
    z-index 0.2s;
  transform: rotateX(180deg);
  -webkit-transition:
    transform 0.4s,
    z-index 0.2s;
  -webkit-transform: rotateX(180deg);
  -moz-transition:
    transform 0.4s,
    z-index 0.2s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.letterImage .animatedMail .letter {
  height: 200px;
}
.letterImage .shadow {
  width: 250px;
}
