
.letterContainer {
    position: relative;
    width: 100%;
    height: 300px;
}


.letterImage {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transform: translateX(-50%);
}

.animatedMail {
    position: absolute;
    height: 150px;
    width: 200px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}
.animatedMail .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #f3f4f6 transparent;
    z-index: 2;
}
.animatedMail .topFold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #d1d5db transparent transparent transparent;
    z-index: 2;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}
.animatedMail .backFold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #7c3aed;
    z-index: 0;
}
.animatedMail .leftFold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e5e7eb;
    z-index: 2;
}
.animatedMail .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    border: 1px solid #7c3aed;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;
}
.animatedMail .letter .letterBorder {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, #7c3aed, #6e49dc 8px, transparent 8px, transparent 18px);
}
.animatedMail .letter .letterTitle {
    margin-top: 7px;
    margin-left: 7px;
    color: black;
    font-size: 10px;
    font-weight: 600;
}
.animatedMail .letter .letterContext {
    margin-top: 17px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animatedMail .letter .letterContext img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.animatedMail .letter .letterContext span {
    color: black;
    font-size: 14px;
    font-weight: 900;
    text-align: center;
}

.animatedMail .letter .letterStamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: #000000;
}

.letterImage .animatedMail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
}
.letterImage .animatedMail .topFold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
}
.letterImage .animatedMail .letter {
    height: 180px;
}
