.videoContainer {
  position: relative;
  margin-block: 2em;
  padding: 12px;
  border: 1px solid var(--color-fd-border);
  background: var(--color-fd-card);
  border-radius: 0;

  video {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .overlay {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    height: calc(100% - 100px - 12px);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.65) 60%,
      rgba(0, 0, 0, 0) 100%
    );
    opacity: 0;
    transition: opacity 0.3s ease;

    @media (max-width: 499px) {
      display: none;
    }
  }

  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    @media (min-width: 500px) and (max-width: 600px) {
      font-size: 12px;
    }
  }

  @media (min-width: 500px) {
    &:hover .overlay {
      opacity: 1;
    }
  }
}
