name: Changelog

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  towncrier:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip-changelog') }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install towncrier
        run: python -m pip install --upgrade pip towncrier

      - name: Fetch base branch for towncrier comparison
        env:
          BASE_BRANCH: ${{ github.base_ref }}
        run: |
          git fetch --no-tags origin +refs/heads/${BASE_BRANCH}:refs/remotes/origin/${BASE_BRANCH}

      - name: Check for changelog fragment
        env:
          BASE_BRANCH: ${{ github.base_ref }}
        run: |
          towncrier check
