.tableContainer {
  overflow-x: auto;
  margin-bottom: 2rem;
}

.featureTable {
  width: 100%;
  border-collapse: collapse;
  background-color: white !important;
}

.featureHeader {
  text-align: left;
  display: flex;
  background-color: #f4f4f5 !important;
  font-size: 15px;
  font-weight: 800;
  color: black !important;
}

.featureRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
}

.featureCell {
  padding: 0.5rem;
  font-weight: 500;
  text-align: left;
  width: 60%;
}

.centeredCell {
  text-align: center;
  padding: 0.5rem;
  width: 20%;
}

.tick {
  width: 18px;
}

.cross {
  width: 15px;
}

.featureTitle {
  display: block;
  font-weight: 700;
  color: black !important;
}

.featureDescription {
  font-size: 0.875rem;
  color: #555 !important;
  margin-top: 0.25rem;
}

.cellText {
  font-size: 13px;
} 