.tableContainer {
  overflow-x: auto;
  margin-bottom: 2rem;

  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--bg-secondary);
  }

  .header {
    text-align: left;
    display: flex;
    background-color: var(--ifm-color-emphasis-100);
    font-size: 15px;
    font-weight: 800;
    color: var(--ifm-heading-color);
  }

  .row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-subtle);
  }

  .cell {
    padding: 0.5rem;
    font-weight: 500;
    text-align: left;
    width: 60%;

    .title {
      display: block;
      font-weight: 700;
      color: var(--ifm-heading-color);
    }

    .description {
      font-size: 0.875rem;
      color: var(--text-secondary);
      margin-top: 0.25rem;
    }
  }

  .centered {
    text-align: center;
    padding: 0.5rem;
    width: 20%;

    .tick {
      width: 18px;
    }

    .cross {
      width: 15px;
    }

    .text {
      font-size: 13px;
    }
  }
}
